.basicInfoContainer {
    position: relative;
    height: 100%;
}
.titleContainer,
.artist {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
}
.artist {
    font-size: 16px;
    color: #aaa;
}
.releaseDate {
    margin-top: 8px;
    font-size: 16px;
    color: #aaa;
}
.tagsContainer {
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
    flex-grow: 1;
}
.actions {
    text-align: right;
}
