.oddItem {
    background-color: rgba($color: #eee, $alpha: 0.2);
}
.textContainer {
    max-width: 80%;
}
.titleContainer {
    display: flex;
    align-items: center;
}
.title {
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.artist {
    font-size: smaller;
}
.tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 4px;
    background-color: rgb(25, 118, 210);
    padding: 1px 4px;
    border-radius: 2px;
    font-size: 12px;
    line-height: normal;
    color: #fff;
    white-space: nowrap;
}
