.oddItem {
    background-color: rgba($color: #eee, $alpha: 0.2);
}
.titleContainer {
    display: flex;
    align-items: center;
}
.tag {
    display: flex;
    align-items: center;
    margin-left: 4px;
    background-color: rgb(25, 118, 210);
    padding: 1px 4px;
    border-radius: 2px;
    font-size: 12px;
    line-height: normal;
    color: #fff;
}
