.oddItem {
    background-color: rgba($color: #eee, $alpha: 0.2);
}
.highlighted {
    animation: 1.5s ease-in-out highlight 2 forwards;
}
@keyframes highlight {
    0% {
        background-color: unset;
    }
    50% {
        background-color: #d3eaff;
    }
    100% {
        background-color: unset;
    }
}
.textContainer {
    max-width: 80%;
}
.titleContainer {
    display: flex;
    align-items: center;
}
.title {
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.secondaryContainer {
    &.withAlbumTitle {
        display: flex;
        .artist {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}
.artist,
.divider,
.albumTitle {
    font-size: smaller;
}
.albumTitle {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.divider {
    margin: 0 4px;
}
.divider,
.albumTitle {
    flex-shrink: 0;
}
.tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 4px;
    background-color: rgb(25, 118, 210);
    padding: 1px 4px;
    border-radius: 2px;
    font-size: 12px;
    line-height: normal;
    color: #fff;
    white-space: nowrap;
}
