.container {
    height: 100%;
}
.volumeBarContainer {
    height: 100%;
    width: 80px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filled {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #b982cf;
    transition: width 0.3s ease-in-out;
}
