.modal {
  top: auto !important;
  left: auto !important;
  bottom: 64px !important;
  right: 0 !important;
  height: 50%;
  width: 30%;

  outline: 0;
  z-index: 1000 !important;
}

.body {
  height: 100%;
}
