.grow {
  flex-grow: 1;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);
}

.drawerOpen {
  margin-left: 241px;
  transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.drawerClose {
  margin-left: 0;
  transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
