.progressContainer {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.progress {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
}

.played,
.buffered {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.played {
    background-color: #b982cf;
}

.buffered {
    background-color: rgba(#cdcdcd, 0.6);
}

.topTexts {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 10%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.bottomTexts {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 10%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
}